#mods, #canvas-container, canvas, body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
}
#mods {
  position: absolute;
  right: 0;
  background: cyan;
  padding: 1em;
}
#canvas-container {
}
canvas, svg {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0); 
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0); 
  width: 99% !important;
  height: 99% !important;
}
#fullscreen-button {
  position: absolute; top: 0; left: 0;
  background-color: rgba(255, 0, 0, 0.5);
  width: 10%; height: 10%;
}
#pause-button {
  position: absolute; top: 0; left: 10%;
  background-color: rgba(0, 255, 0, 0.5);
  width: 10%; height: 10%;
}
#debug-camera-button {
  position: absolute; top: 0; left: 20%;
  background-color: rgba(0, 0, 255, 0.5);
  width: 10%; height: 10%;
}
