#mods, #canvas-container, canvas, body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: white;
}
#mods {
  position: absolute;
  right: 0;
  background: cyan;
  padding: 1em;
}
#canvas-container {
}
canvas, svg {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0); 
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0); 
  width: 99% !important;
  height: 99% !important;
}
#fullscreen-button {
  position: absolute; top: 0; left: 0;
  background-color: rgba(255, 0, 0, 0.5);
  width: 10%; height: 10%;
}
#pause-button {
  position: absolute; top: 0; left: 10%;
  background-color: rgba(0, 255, 0, 0.5);
  width: 10%; height: 10%;
}
#debug-camera-button {
  position: absolute; top: 0; left: 20%;
  background-color: rgba(0, 0, 255, 0.5);
  width: 10%; height: 10%;
}

li a:link, li a:visited {
  display: block;
  border: 0;
  x-padding-left: 28px;
  color: #c55500;
}

li a:link, li a:visited {
  display: block;
  border: 0;
  x-padding-left: 28px;
  color: #c55500;
}
a:visited {
  border-bottom: 1px solid #730800;
  color: #730800;
}
a:link, a:visited {
  border-bottom: 1px solid #c55500;
  color: #c55500;
  text-decoration: none;
}
a:link, a:visited {
  border-bottom: 1px solid #c55500;
  color: #c55500;
  text-decoration: none;
}
#pause-button a:before {
  
  left: 2px;
  width: 4px;
  height: 14px;

  border: 4px solid #c55500;
  border-width: 0 4px;
  x-margin-top: -7px;
  background: transparent;
}
li a:before, li a:after {
  x-margin: -8px 0 0;
  background: #c55500;
}
li:before, li:after, li a:before, li a:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
}
li a:before, li a:after {
  x-margin: -8px 0 0;
  background: #c55500;
}
li:before, li:after, li a:before, li a:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
}
li {
  list-style: none;
}
html, body {
  font: 1em/1.4 Cambria, Georgia, sans-serif;
  color: #333;
}
